

body, #mainWrapper {
    height: 100%;
}


#mainWrapper {
    /*height: 720px; Without explicit px values, % in children's does not work*/
    height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    background: #255ea2;
}

.login-container {
    border-radius: 15%;
    margin-top: 350px;
    background-color: #f1f2b9;
    width: 30%;
    left: 35%;
    position: absolute;
}

#img-container{
    position: absolute;
    width: 30%;
    left: 38%;
}
.login-card {
    width: 80%;
    margin: auto;
}
.login-form {
    padding: 10%;
}

.form-container {
    position:fiexd;
    width:50%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #E8E1E1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.floatRight{
    float:right;
    margin-right: 18px;
}

.has-error{
    color:red;
}


.success{
    position:fiexd;
    width:50%;
    margin-left: 50px;
    margin-top:20px;
    padding: 20px;
    background-color: #E8E1E1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

body {
    background: #F1F3FA;
}

